@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom utility classes untuk section styling */
@layer utilities {
  .section-title {
    @apply text-3xl md:text-4xl font-semibold text-center mb-4;
  }

  .section-divider {
    @apply w-16 h-[2px] bg-slate-400 mx-auto mb-6;
  }
}
